<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <!-- Site Properities -->
    <title>Slick Full Page Search Vertical</title>

</head>
<body class="no-transition">
<div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up header-transparent is-transparent">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>










   <div class="hero-search-full-page next-sq">
      
       <!-- Hero Search Vertical Default -->
       <!-- .narrow .animate .shadow .colored .boxed -->
       <div class="h-search-v narrow-sq animate-sq shadow-sq">
            <form action="#" class="hero-search-form">
                    <div class="search-item">
                       <h3>Rent a car</h3>
                    </div>

                    <div class="search-item">
                        <i class="icon icon-pickup-location"></i>
                        <div class="fltp">
                            <input type="text" value="" required>
                            <label class="placeholder" data-big-placeholder="Pickup location" data-little-placeholder="Pickup location"></label>
                        </div>
                    </div>

                    <div class="search-item">
                        <i class="icon icon-return-location"></i>
                        <div class="fltp">
                            <input type="text" value="" required>
                            <label class="placeholder" data-big-placeholder="Return location" data-little-placeholder="Return location"></label>
                        </div>
                    </div>

                    <div class="search-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="checkbox11">
                            <label for="checkbox11">Return car to pickup location</label>
                        </div>
                    </div>

                    <div class="search-item">
                        <i class="icon icon-pickup-date"></i>
                        <div class="fltp calendar-sq" id="rangestart">
                                <input type="text" class="filter" value="" required placeholder="enter date">
                                <label class="placeholder"  data-big-placeholder="Pickup date" data-little-placeholder="Pickup date"></label>
                        </div>
                    </div>
                    
                    <div class="search-item">
                    	<i class="icon icon-return-date"></i>
                        <div class="fltp calendar-sq" id="rangeend">
                            <input type="text" class="filter" value="" required placeholder="enter date">
                            <label class="placeholder"  data-big-placeholder="Return date" data-little-placeholder="Return date"></label>
                        </div>
                    </div>

                    <div class="search-item">
                       
                        <button class="button-sq text-transform-uppercase-sq font-weight-extrabold-sq">
                            <i class="icon icon-search"></i>
                           	<span>Find a car</span>
                        </button>
                        
                    </div>
            </form>
        </div>
       
       <!-- Hero Big - Slick -->
       <div class="sq-slick hero-big slide-up-sq left-sq" data-mobile-arrows="false" data-tablet-arrows="false" data-mobile-dots="true" data-tablet-dots="true" data-fade="true" data-speed="500" data-ease="linear">
           <!-- .slide-up .fade .top .bottom -->

           <!--Slide 01-->
            <div class="">
                <div class="caption-content">
                   <h1>Combine Hero Big with Hero Search Vertical</h1>
                   <p><i>Slide 01</i> - You can add any of these classes: <strong>.narrow .boxed .shadow .colored .animate</strong> to <strong>h-search-v</strong></p>
                </div>
                <div class="caption-outside">
                    <a class="button" href="">
                        <i class="icon big icon-compass"></i>
                        <p>Explore</p>
                    </a>
                </div>

                <div class="image-wrapper">
                    <div class="image-inner">
                        <img class="image-sq" src="assets/images/hero/hero_big_05.jpg" alt="">
                    </div>
                </div>
            </div>

            <!--Slide 02-->
            <div>
                <div class="caption-content">
                   <h1>Combine Hero Big with Hero Search Vertical</h1>
                   <p><i>Slide 02</i> - You can add any of these classes: <strong>.narrow .boxed .shadow .colored .animate</strong> to <strong>h-search-v</strong></p>
                </div>
                
                <div class="caption-outside">
                    <a class="button" href="">
                        <i class="icon big icon-compass"></i>
                        <p>Find</p>
                    </a>
                </div>

                <div class="image-wrapper">
                    <div class="image-inner">
                        <img class="image-sq" src="assets/images/hero/hero_big_06.jpg" alt="">
                    </div>
                </div>
            </div>

            <!--Slide 03-->
            <div>
                <div class="caption-content">
                   <h1>Combine Hero Big with Hero Search Vertical</h1>
                   <p><i>Slide 03</i> - You can add any of these classes: <strong>.narrow .boxed .shadow .colored .animate</strong> to <strong>h-search-v</strong></p>
                </div>
                
                <div class="caption-outside">
                    <a class="button" href="">
                        <i class="icon big icon-compass"></i>
                        <p>Read</p>
                    </a>
                </div>

                <div class="image-wrapper">
                    <div class="image-inner">
                        <img class="image-sq" src="assets/images/hero/hero_big_07.jpg" alt="">
                    </div>
                </div>
            </div>

            <!--Slide 04-->
            <div>
                <div class="caption-content">
                   <h1>Combine Hero Big with Hero Search Vertical</h1>
                   <p><i>Slide 04</i> - You can add any of these classes: <strong>.narrow .boxed .shadow .colored .animate</strong> to <strong>h-search-v</strong></p>
                </div>
                <div class="caption-outside">
                    <a class="button" href="">
                        <i class="icon big icon-compass"></i>
                        <p>View</p>
                    </a>
                </div>

                <div class="image-wrapper">
                    <div class="image-inner">
                        <img class="image-sq" src="assets/images/hero/hero_big_08.jpg" alt="">
                    </div>
                </div>
            </div>

          </div>
       
   </div>
   
    <!-- grid -->       
    <div class="ui grid container stackable">
        <div class="stretched row">
            <div class="ui column">
               <div class="typo-section-sq top-default bottom-default">
                   <h2>Hero Big with Hero Search Vertical - Fullpage Sample</h2>
                   <hr class="padded-sq">
                   
                   <br>
                    
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">hero-search-full-page</mark>&quot;&gt;
    &lt;!-- Hero Search Horizontal --&gt;
    &lt;div class=&quot; <mark class="markcode">h-search-v</mark> narrow-sq animate-sq shadow-sq&quot;&gt;...&lt;/div&gt;
    
    &lt;!-- Slick Hero Big --&gt;
    &lt;div class=&quot;sq-slick <mark class="markcode">hero-big</mark> slide-up-sq left-sq&quot; data-mobile-arrows=&quot;false&quot; data-tablet-arrows=&quot;false&quot; data-mobile-dots=&quot;true&quot; data-tablet-dots=&quot;true&quot; data-fade=&quot;true&quot; data-speed=&quot;500&quot; data-ease=&quot;linear&quot;&gt;
        &lt;!--Slide 01--&gt;
        &lt;div&gt; ... &lt;/div&gt;
        &lt;!--Slide 02--&gt;
        &lt;div&gt; ... &lt;/div&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
              
               </div>
               

            </div>
        </div>
    </div>

    <!--end ui container-->
         
        
</div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
