<!DOCTYPE html>



<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Floating Placeholder - Features Page</title>

</head>
<body class="no-transition dashboard-sq">
    <div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
    
   <div class="ui layout">
       
        <!-- grid -->
        <div class="ui grid container">
           
            <div class="row">
               
               <div class="ui twelve wide tablet three wide computer three wide widescreen three wide large screen column">
                   
                    <div class="sticky-element sticky-desktop sticky-large-desktop under-ths">
                       
                        <div class="dashboard-sticky">
                            <div class="dashboard-sticky-inner">
                                <div class="dashboard-menu has-submenu">
                                    <a href="#" class="item">
                                        <i class="icon icon-side-sticky-menu"></i>
                                    </a>
                                    <ul class="submenu">
    <li>
       <div class="ui accordion ">

	       <div class="title accordion-trigger ">
		       <a class="">Getting started</a>
	       </div>
	       <div class="content ">
		       <div class="accordion">
			       <div class="title"><a href="fts_getting_started.html#getting-started" class="item">General Info</a></div>
			       <div class="title"><a href="fts_getting_started.html#installation" class="item">Installation</a></div>
			       <div class="title"><a href="fts_getting_started.html#whats-included" class="item">What's Included</a></div>
			       <div class="title"><a href="fts_getting_started.html#html" class="item">HTML Structure</a></div>
			       <div class="title"><a href="fts_getting_started.html#less" class="item">Compiling LESS</a></div>
			       <div class="title"><a href="fts_getting_started.html#fonts" class="item">Changing Fonts</a></div>
			       <div class="title"><a href="fts_getting_started.html#vector-icons" class="item">Vector Icons</a></div>
			       <div class="title"><a href="fts_getting_started.html#optimization" class="item">Site Optimization</a></div>
		       </div>
	       </div>

            <div class="title accordion-trigger ">
                <a class="">Layout</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_default_grid.html" class="item">Default Grid</a></div>
                   <div class="title "><a href="fts_divided_container.html" class="item">Divided Container</a></div>
                   <div class="title "><a href="fts_magic_grid.html" class="item">Magic Grid</a></div>
               </div>
            </div>


            <div class="title accordion-trigger active">
                <a class="">Components</a>
            </div>
            <div class="content active">
               <div class="accordion">
                    <div class="title "><a href="fts_header.html" class="item">Header</a></div>
                    <div class="content"></div>

                    <div class="title accordion-trigger "><a class="item">Menus</a></div>
                    <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_menu.html" class="item">Menu Default</a></div>
                           <div class="title "><a href="fts_dashboard_menu.html" class="item">Dashboard Menu</a></div>
                       </div>
                    </div>
                    
                   <div class="title "><a href="fts_logo.html" class="item">Logo</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_buttons.html" class="item">Buttons</a></div>
                   <div class="content"></div>
                   
                   <div class="title "><a href="fts_icons.html" class="item">Icons</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_form_elements.html" class="item">Form Elements</a></div>
                   <div class="content"></div>

                   <div class="title active"><a href="fts_floating_placeholder.html" class="item">Floating Placeholder</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_sticky_element.html" class="item">Sticky Element</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_property_items.html" class="item">Property Items</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_articles.html" class="item">Articles</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_promo_section.html" class="item">Promo Section</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_modals.html" class="item">Modals</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_accordion.html" class="item">Accordion</a></div>
                   <div class="content"></div>


                   <div class="title accordion-trigger "><a class="item">Hero Search</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_hero_search_horizontal.html" class="item">Hero Seach Horizontal</a></div>
                           <div class="title "><a href="fts_hero_search_vertical.html" class="item">Hero Seach Vertical</a></div>
                       </div>

                    </div>

                   <div class="title accordion-trigger "><a class="item">Carousel</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_slick_carousel.html" class="item">Slick Carousel</a></div>
                           <div class="title "><a href="fts_slick_hero_big.html" class="item">Slick Hero Big</a></div>
                           <div class="title "><a href="fts_slick_full_page_search.html" class="item">Slick Full Page Search</a></div>
                       </div>

                    </div>

                   <div class="title "><a href="fts_charts.html" class="item">Charts</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_progressbar.html" class="item">Progressbar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_hamburger_icon.html" class="item">Hamburger Icon</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_calendar.html" class="item">Calendar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_price_range_slider.html" class="item">Price Range Slider</a></div>
                   <div class="content"></div>

               </div>

            </div>

            <div class="title accordion-trigger ">
                <a class="">Content</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_typography.html" class="item">Typography</a></div>
                   <div class="title "><a href="fts_code.html" class="item">Code</a></div>
                   <div class="title "><a href="fts_image.html" class="item">Image</a></div>
                   <div class="title "><a href="fts_image_gallery.html" class="item">Image Gallery</a></div>
                   <div class="title "><a href="fts_table.html" class="item">Table</a></div>
               </div>
            </div>
       </div>
    </li>
</ul>                                </div>
                            </div>
                        </div>
                    </div>
                    
               </div>
               
               <div class="ui twelve wide tablet nine wide computer nine wide widescreen nine wide large screen column">
                   <div class="ui grid">
                       <div class="row">
                         
                           <div class="ui twelve wide computer column">
                              <div class="ui grid">
                                  <div class="row">
                                   
                                    <div class="ui twelve wide computer column">
                                        <div class="typo-section-sq top-default bottom-default">
                                           
                                            <h2>Floating Placeholder</h2>
                                            
                                            <hr class="padded-sq">
                                            
                                            
                                            <p class="definition-sq"><strong>Floating Placeholder</strong> represents a different styling for the input and select form elements.</p>
                                            
                                            
                                            <hr class="padded-sq">
                                            
                                            <h3>Floating Placeholder Input</h3>
                                            <br>
                                            
<div class="fltp">
    <input type="text" value="" required>
    <label class="placeholder" data-big-placeholder="Click here" data-little-placeholder="This is an input example"></label>
</div>
                                            
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;fltp&quot;&gt;
    &lt;input type=&quot;text&quot; value=&quot;&quot; required&gt;
    &lt;label class=&quot;placeholder&quot; data-big-placeholder=&quot;Click here&quot; data-little-placeholder=&quot;This is an input example&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>
                                            <br>
                                            
                                            <p>Floating Placeholder input has the following attributes: </p>
                                            <ul>
                                                <li><strong>data-big-placeholder</strong> - represents the placeholder when the input is not in focus</li>
                                                <li><strong>data-little-placeholder</strong> - represents the placeholder when the input is in focus</li>
                                            </ul>
                                            <br>
                                            <h4>Icon style</h4>
                                            
                                            <p>We can add an animated icon before input like this:</p>
                                            
<div class="fltp">
    <i class="icon icon-search"></i>
    <input type="text" value="" required>
    <label class="placeholder" data-big-placeholder="Click here" data-little-placeholder="Floating Placeholder input example"></label>
</div>

<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;fltp&quot;&gt;
    <mark class="markcode">&lt;i class=&quot;icon icon-search&quot;&gt;&lt;/i&gt;</mark>
    &lt;input type=&quot;text&quot; value=&quot;&quot; required&gt;
    &lt;label class=&quot;placeholder&quot; data-big-placeholder=&quot;Click here&quot; data-little-placeholder=&quot;Floating Placeholder input example&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>   
                                          <br>
                                          <h4>Styling</h4>
                                          <p>In page,<strong>floating placeholder</strong> can be styled using these variables from floating-placeholder.variables.</p>
                                           
                                          <ul>
                                              <li><strong>@fltp-height</strong> - floating placeholder height</li>
                                              <li><strong>@fltp-maximized-font-size</strong> - font size for data-big-placeholder visible</li>
                                              <li><strong>@fltp-maximized-font-weight</strong> - font weight for data-big-placeholder visible</li>
                                              <li><strong>@fltp-minimized-font-size</strong> - font size for data-little-placeholder visible</li>
                                              <li><strong>@fltp-input-font-size</strong> - font size for input</li>
                                              <li><strong>@fltp-input-font-weight</strong> - font weight for input</li>
                                              <li><strong>@fltp-label-color</strong> - text color for label</li>
                                              <li><strong>@fltp-input-color</strong> - text color for input or select</li>
                                              
                                          </ul>
                                           
                                          <p>If the <strong>floating placeholder</strong> resides in header, it will inherit header-section styling - <a href="fts_header.html#headergeneralstyling">read more here</a> .</p>
                                          
                                          <hr class="padded-sq">
                                            
                                          <h3>Floating Placeholder Calendar</h3>
                                          
                                          <br>
                                          <p>Floating Placeholder Calendar is identical in structure with Floating Placeholder Input. Its functionality is given by <strong><a href="fts_calendar.html">calendar</a></strong> module.</p>
                                          
<div class="fltp" id="examplecalendar">
    <input type="text" value="" required placeholder="enter date">
    <label class="placeholder"  data-big-placeholder="Click here" data-little-placeholder="Floating Placeholder Calendar Example"></label>
</div>
                                         
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;fltp&quot; id=&quot;examplecalendar&quot;&gt;
    &lt;input type=&quot;text&quot; value=&quot;&quot; required placeholder=&quot;enter date&quot;&gt;
    &lt;label class=&quot;placeholder&quot;  data-big-placeholder=&quot;Click here&quot; data-little-placeholder=&quot;Floating Placeholder Calendar Example&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>   
                                         <hr class="padded-sq">
                                         
                                         <h3>Floating Placeholder Select</h3>
                                         
                                         <br>
                                         <p>The base of this elements stand a select that is being transformed into dropdown using ".dropdown()" JavaScript function.</p>
                                         <p>First "option" of the select must be empty.</p>
                                         
<div class="fltp">
	<select name="dropdown" size="13" class="dropdown" required>
		<option value="0" selected>&nbsp;</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
    <label class="placeholder">Floating Placeholder Select</label>
</div>
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;fltp&quot;&gt;
    &lt;select name=&quot;dropdown&quot; size=&quot;13&quot; class=&quot;dropdown&quot; required&gt;
        &lt;option value=&quot;0&quot; selected&gt;&amp;nbsp;&lt;/option&gt;
        &lt;option value=&quot;1&quot;&gt;1&lt;/option&gt;
        ...
        &lt;option value=&quot;5&quot;&gt;12&lt;/option&gt;
    &lt;/select&gt;
    &lt;label class=&quot;placeholder&quot;&gt;Floating Placeholder Select&lt;/label&gt;
&lt;/div&gt;</code></pre> 
                                        <hr class="padded-sq">
                                        
                                        <h3>Floating Placeholder Flat Style</h3>
                                        
                                        <p>This is another style for the floating placeholder item.</p>
                                        
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;fltp <mark class="markcode">flat-sq</mark>&quot;&gt;
    ...
&lt;/div&gt;</code></pre>
                                        <div class="fltp flat-sq">
											<input type="text" value="" required>
											<label class="placeholder" data-big-placeholder="Click here" data-little-placeholder="This is an input example"></label>
										</div>
                                        <br>
                                        <div class="fltp flat-sq">
											<select name="dropdown" size="13" class="dropdown" required>
												<option value="0" selected>&nbsp;</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
											<label class="placeholder">Floating Placeholder Select</label>
										</div>
                                        
                                      
                                      </div>
                                        
                                                                                                                                                                      
                                                                                                                                                                                                               
                                                                                                                                                                                                                                                                                                 
              
                                           
                                    </div>
                                                   
                                    
                                  </div>
                              </div>
                           </div>
                   </div>
                   </div>
               </div>
               
               
            </div>
        </div>
        
        
   </div>    
       
   
    
    
    </div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
