<!DOCTYPE html>



<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Sticky Element - Features Page</title>

</head>
<body class="no-transition dashboard-sq">
    <div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
    
   <div class="ui layout">
       
        <!-- grid -->
        <div class="ui grid container">
           
            <div class="row">
               
               <div class="ui twelve wide tablet three wide computer three wide widescreen three wide large screen column">
                   
                    <div class="sticky-element sticky-desktop sticky-large-desktop under-ths">
                       
                        <div class="dashboard-sticky">
                            <div class="dashboard-sticky-inner">
                                <div class="dashboard-menu has-submenu">
                                    <a href="#" class="item">
                                        <i class="icon icon-side-sticky-menu"></i>
                                    </a>
                                    <ul class="submenu">
    <li>
       <div class="ui accordion ">

	       <div class="title accordion-trigger ">
		       <a class="">Getting started</a>
	       </div>
	       <div class="content ">
		       <div class="accordion">
			       <div class="title"><a href="fts_getting_started.html#getting-started" class="item">General Info</a></div>
			       <div class="title"><a href="fts_getting_started.html#installation" class="item">Installation</a></div>
			       <div class="title"><a href="fts_getting_started.html#whats-included" class="item">What's Included</a></div>
			       <div class="title"><a href="fts_getting_started.html#html" class="item">HTML Structure</a></div>
			       <div class="title"><a href="fts_getting_started.html#less" class="item">Compiling LESS</a></div>
			       <div class="title"><a href="fts_getting_started.html#fonts" class="item">Changing Fonts</a></div>
			       <div class="title"><a href="fts_getting_started.html#vector-icons" class="item">Vector Icons</a></div>
			       <div class="title"><a href="fts_getting_started.html#optimization" class="item">Site Optimization</a></div>
		       </div>
	       </div>

            <div class="title accordion-trigger ">
                <a class="">Layout</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_default_grid.html" class="item">Default Grid</a></div>
                   <div class="title "><a href="fts_divided_container.html" class="item">Divided Container</a></div>
                   <div class="title "><a href="fts_magic_grid.html" class="item">Magic Grid</a></div>
               </div>
            </div>


            <div class="title accordion-trigger active">
                <a class="">Components</a>
            </div>
            <div class="content active">
               <div class="accordion">
                    <div class="title "><a href="fts_header.html" class="item">Header</a></div>
                    <div class="content"></div>

                    <div class="title accordion-trigger "><a class="item">Menus</a></div>
                    <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_menu.html" class="item">Menu Default</a></div>
                           <div class="title "><a href="fts_dashboard_menu.html" class="item">Dashboard Menu</a></div>
                       </div>
                    </div>
                    
                   <div class="title "><a href="fts_logo.html" class="item">Logo</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_buttons.html" class="item">Buttons</a></div>
                   <div class="content"></div>
                   
                   <div class="title "><a href="fts_icons.html" class="item">Icons</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_form_elements.html" class="item">Form Elements</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_floating_placeholder.html" class="item">Floating Placeholder</a></div>
                   <div class="content"></div>

                   <div class="title active"><a href="fts_sticky_element.html" class="item">Sticky Element</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_property_items.html" class="item">Property Items</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_articles.html" class="item">Articles</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_promo_section.html" class="item">Promo Section</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_modals.html" class="item">Modals</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_accordion.html" class="item">Accordion</a></div>
                   <div class="content"></div>


                   <div class="title accordion-trigger "><a class="item">Hero Search</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_hero_search_horizontal.html" class="item">Hero Seach Horizontal</a></div>
                           <div class="title "><a href="fts_hero_search_vertical.html" class="item">Hero Seach Vertical</a></div>
                       </div>

                    </div>

                   <div class="title accordion-trigger "><a class="item">Carousel</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_slick_carousel.html" class="item">Slick Carousel</a></div>
                           <div class="title "><a href="fts_slick_hero_big.html" class="item">Slick Hero Big</a></div>
                           <div class="title "><a href="fts_slick_full_page_search.html" class="item">Slick Full Page Search</a></div>
                       </div>

                    </div>

                   <div class="title "><a href="fts_charts.html" class="item">Charts</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_progressbar.html" class="item">Progressbar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_hamburger_icon.html" class="item">Hamburger Icon</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_calendar.html" class="item">Calendar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_price_range_slider.html" class="item">Price Range Slider</a></div>
                   <div class="content"></div>

               </div>

            </div>

            <div class="title accordion-trigger ">
                <a class="">Content</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_typography.html" class="item">Typography</a></div>
                   <div class="title "><a href="fts_code.html" class="item">Code</a></div>
                   <div class="title "><a href="fts_image.html" class="item">Image</a></div>
                   <div class="title "><a href="fts_image_gallery.html" class="item">Image Gallery</a></div>
                   <div class="title "><a href="fts_table.html" class="item">Table</a></div>
               </div>
            </div>
       </div>
    </li>
</ul>                                </div>
                            </div>
                        </div>
                    </div>
                    
               </div>
               
               <div class="ui twelve wide tablet nine wide computer nine wide widescreen nine wide large screen column">
                   <div class="ui grid">
                       <div class="row">
                         
                           <div class="ui twelve wide computer grey column">
                              <div class="ui grid">
                                  <div class="row">
                                   
                                    <div class="ui twelve wide computer column">
                                        <div class="typo-section-sq top-default bottom-default">
                                           
                                            <h2>Sticky Element</h2>
                                            
                                            <hr class="padded-sq">
                                            <h3>General Info</h3>
                                            
                                            <p class="definition-sq"><strong>Sticky Element</strong> represents the container that can host any element with the property of becoming sticky on viewport top.</p>
                                            
                                            <br>
                                            <p><strong>Sticky Element</strong> is being used in many theme modules.</p>
                                            
                                           
                                            <br>
                                            
                                            <h4>Structure</h4>
                                            
                                            <p><strong>Sticky Element</strong> structure is as follows:</p>
                                            
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">sticky-element</mark>&quot;&gt;
    &lt;div&gt; ... &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                           
                                            
                                            
                                            <br>
                                            
                                            <h4>Responsive</h4>
                                            
                                            <p>The element that is inside <strong>.sticky-element</strong> is the one that actually becomes <strong>position:fixed</strong> .You need to specify on what screen resolutions the elements will become sticky, using following classes: </p>
                                            
                                            <ul>
                                                <li><strong>.sticky-mobile</strong> - for mobile resolution/li>
                                                <li><strong>.sticky-tablet</strong> - for tablet resolution</li>
                                                <li><strong>.sticky-desktop</strong> - for desktop resolution</li>
                                                <li><strong>.sticky-large-desktop</strong> - for large-desktop resolution</li>
                                                <li><strong>.sticky-all</strong> - for all resolutions</li>
                                            </ul>
                                            <br>

                                            <div class="ui grid">
                                                <div class="row">
                                                    <div class="ui twelve wide tablet six wide computer six wide widescreen six wide large screen column">
                                                        <div class="sticky-element sticky-all">
                                                            <div class="sample-block"> Sample Sticky Element </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">sticky-element</mark> <mark class="markcode">sticky-all</mark>&quot;&gt;
    &lt;div&gt; ... &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                          
                                            
                                            <br>
                                            
                                            <h4>Options</h4>
                                            
                                            <p>When the header is sticky, <strong>sticky-element</strong> can be relative to header using this class <strong>.under-ths</strong>.</p>
                                            
                                            <div class="ui grid">
                                                <div class="row">
                                                    <div class="ui twelve wide tablet six wide computer six wide widescreen six wide large screen right floated column">
                                                        <div class="sticky-element sticky-all under-ths">
                                                            <div class="sample-block"> Under Top Header Sticky Element </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;sticky-element sticky-all <mark class="markcode">under-ths</mark>&quot;&gt;
    &lt;div&gt; ... &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                            
                                            
                                            
                                            
                                            <br>
                                            <p><strong>Text for page scroll</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec. Sed condimentum dolor justo, vitae mattis magna maximus feugiat. Mauris malesuada leo libero, vitae tempor ante sagittis vitae. Suspendisse consectetur facilisis enim. Donec sollicitudin sed nibh eget rutrum. Donec tincidunt nibh non feugiat suscipit. Ut ultricies pretium erat non aliquet.
In hac habitasse platea dictumst. Integer quis tortor enim. Integer et elit nec magna ultricies convallis. In venenatis eu erat et facilisis. Vestibulum congue enim nisl. Fusce arcu enim, porta a auctor vel, hendrerit a libero. Vivamus vel dapibus sem. Cras nec felis nibh. Etiam consequat ligula ac dolor aliquet vulputate. Quisque sagittis bibendum enim, et auctor mi faucibus at. Nunc nec nisi nulla. Donec eget sollicitudin diam. Nulla quis ligula eget mi euismod eleifend vitae eu lectus. Suspendisse potenti.
Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.</p>
                                          
                                            

                                           <hr class="padded-sq">
                                     
                                        </div>
                                    </div>
                                                   
                                    
                                  </div>
                              </div>
                           </div>
                    </div>
                   </div>
               </div>
               
               
            </div>
        </div>
        
        
   </div>    
       
   
    
    
    </div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
