<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Header Sticky - Example 01</title>

</head>
<body class="no-transition">
<div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

   <div class="ui layout">
        <div class="ui grid container">
            <div class="row">
                <div class="ui column">
        
                   <div class="typo-section-sq top-default bottom-default">
                       <h2>Header Sticky Example 01</h2>
                       
					   <p>If we apply <strong>.header-sticky</strong> class to a .header-section element, this will become sticky the moment it reaches window top.</p>
					   
					   <p>Top Header Section</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
    
    <div class="ui layout">
        <div class="ui grid container">
            <div class="row">
                <div class="ui column">
                <br>
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;header class=&quot;header-section ths header-sticky&quot;&gt;
    ... 
&lt;/header&gt;</code></pre>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec. Sed condimentum dolor justo, vitae mattis magna maximus feugiat. Mauris malesuada leo libero, vitae tempor ante sagittis vitae. Suspendisse consectetur facilisis enim. Donec sollicitudin sed nibh eget rutrum. Donec tincidunt nibh non feugiat suscipit. Ut ultricies pretium erat non aliquet.
                    
                    <br><br>
        In hac habitasse platea dictumst. Integer quis tortor enim. Integer et elit nec magna ultricies convallis. In venenatis eu erat et facilisis. Vestibulum congue enim nisl. Fusce arcu enim, porta a auctor vel, hendrerit a libero. Vivamus vel dapibus sem. Cras nec felis nibh. Etiam consequat ligula ac dolor aliquet vulputate. Quisque sagittis bibendum enim, et auctor mi faucibus at. Nunc nec nisi nulla. Donec eget sollicitudin diam. Nulla quis ligula eget mi euismod eleifend vitae eu lectus. Suspendisse potenti.
                    <br><br>
        Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
                <br><br>
        
        Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
        
                <br><br>
        Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.</p>
                    <br><br>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- Middle Header Section -->
    <header class="header-section mhs header-sticky header-shadow">
        <div class="header-content">

            <div class="ui container grid">
                <div class="header-item header-left">
                </div>

                <div class="header-item header-center">
                    <p class="item">Middle header section</p>
                </div>

                <div class="header-item header-right">

                </div>
            </div>

        </div>    
    </header>
    
    <!-- End of Middle Header Section -->
   
    <div class="ui layout">
        <div class="ui grid container">
            <div class="row">
                <div class="ui column">
        
                    <br>
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;header class=&quot;header-section mhs header-sticky&quot;&gt;
    ... 
&lt;/header&gt;</code></pre>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec. Sed condimentum dolor justo, vitae mattis magna maximus feugiat. Mauris malesuada leo libero, vitae tempor ante sagittis vitae. Suspendisse consectetur facilisis enim. Donec sollicitudin sed nibh eget rutrum. Donec tincidunt nibh non feugiat suscipit. Ut ultricies pretium erat non aliquet.
                    
                    <br><br>
        In hac habitasse platea dictumst. Integer quis tortor enim. Integer et elit nec magna ultricies convallis. In venenatis eu erat et facilisis. Vestibulum congue enim nisl. Fusce arcu enim, porta a auctor vel, hendrerit a libero. Vivamus vel dapibus sem. Cras nec felis nibh. Etiam consequat ligula ac dolor aliquet vulputate. Quisque sagittis bibendum enim, et auctor mi faucibus at. Nunc nec nisi nulla. Donec eget sollicitudin diam. Nulla quis ligula eget mi euismod eleifend vitae eu lectus. Suspendisse potenti.
                    <br><br>
        Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
                <br><br>
        
        Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
        
                <br><br>
        Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.
                   <br><br>
                   Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
                <br><br>
        
        Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
        
                <br><br>
        Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.</p>
                    <br><br>
                    
                </div>
            </div>
        </div>
    </div>
        
    <!-- Bottom Header Section -->
    <header class="header-section bhs header-sticky">
        <div class="header-content">

            <div class="ui container grid">
                <div class="header-item header-left">
                </div>

                <div class="header-item header-center">
                    <p class="item">Bottom header section</p>
                </div>

                <div class="header-item header-right">

                </div>
            </div>

        </div>    
    </header>
    
    <!-- End of Bottom Header Section -->
        
    <div class="ui layout">
        <div class="ui grid container">
            <div class="row">
                <div class="ui column">
        
                    <br>
                    <pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;header class=&quot;header-section bhs header-sticky&quot;&gt;
    ... 
&lt;/header&gt;</code></pre>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec. Sed condimentum dolor justo, vitae mattis magna maximus feugiat. Mauris malesuada leo libero, vitae tempor ante sagittis vitae. Suspendisse consectetur facilisis enim. Donec sollicitudin sed nibh eget rutrum. Donec tincidunt nibh non feugiat suscipit. Ut ultricies pretium erat non aliquet.
                    
                    <br><br>
        In hac habitasse platea dictumst. Integer quis tortor enim. Integer et elit nec magna ultricies convallis. In venenatis eu erat et facilisis. Vestibulum congue enim nisl. Fusce arcu enim, porta a auctor vel, hendrerit a libero. Vivamus vel dapibus sem. Cras nec felis nibh. Etiam consequat ligula ac dolor aliquet vulputate. Quisque sagittis bibendum enim, et auctor mi faucibus at. Nunc nec nisi nulla. Donec eget sollicitudin diam. Nulla quis ligula eget mi euismod eleifend vitae eu lectus. Suspendisse potenti.
                    <br><br>
        Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
                <br><br>
        
        Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
        
                <br><br>
        Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.
                   <br><br>
                   Proin eu lobortis lorem. Phasellus sed neque consequat, sodales risus vitae, interdum erat. Sed quis nibh sit amet ligula tincidunt sodales sit amet sed lorem. In pellentesque id magna mattis rhoncus. In bibendum, odio eu mollis rhoncus, urna ipsum tincidunt metus, nec sollicitudin orci urna in ante. Mauris sollicitudin lorem eu bibendum bibendum. Morbi suscipit convallis euismod. Quisque ac nisl ac felis pharetra fermentum ac quis sapien. Duis sed est semper, eleifend orci nec, elementum arcu. Aenean quis egestas metus, id semper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate varius leo. Proin mattis mattis nunc a tristique. Praesent diam mauris, laoreet sed leo vitae, placerat euismod magna. Praesent non nunc dui.
                <br><br>
        
        Pellentesque sed diam ex. Morbi suscipit porttitor imperdiet. Curabitur vitae turpis non eros sodales rutrum pharetra id ipsum. Nullam nec diam porta, interdum quam sed, elementum lorem. Phasellus consequat enim odio, sed dapibus ligula sagittis quis. Morbi varius iaculis ex, blandit molestie eros lobortis eget. Morbi fringilla diam nec nunc mollis, vehicula placerat odio facilisis. Mauris eu ipsum aliquam augue elementum commodo sed at erat. Cras rhoncus facilisis magna quis sodales. Praesent at magna mauris. Nullam ex ipsum, elementum ac neque at, bibendum sodales arcu. Proin tincidunt scelerisque tempor. Vestibulum vulputate, justo sed mollis aliquam, dui mi efficitur nibh, eu scelerisque magna felis non elit. Sed mollis varius massa vitae cursus. Aliquam ut turpis pellentesque, maximus libero sit amet, egestas felis.
        
                <br><br>
        Aenean sit amet ipsum arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis orci tempus justo euismod tristique eu sit amet lectus. Phasellus vehicula sem quam, et rhoncus erat rutrum sed. Suspendisse ornare, eros non pretium euismod, nibh sem gravida lorem, vitae ultricies purus augue nec nibh. Sed vel eros nec arcu porttitor euismod. Aliquam porttitor ex id vulputate consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vitae facilisis ante, sed commodo magna. Ut pretium non sem in feugiat.</p>
                    <br><br>
                    
                </div>
            </div>
        </div>
    </div>
         
<!--end #page-inner-->



        
</div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
