<!DOCTYPE html>



<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Modals - Features Page</title>

</head>
<body class="no-transition dashboard-sq">
    <div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
    
   <div class="ui layout">
       
        <!-- grid -->
        <div class="ui grid container">
           
            <div class="row">
               
               <div class="ui twelve wide tablet three wide computer three wide widescreen three wide large screen column">
                   
                    <div class="sticky-element sticky-desktop sticky-large-desktop under-ths">
                       
                        <div class="dashboard-sticky">
                            <div class="dashboard-sticky-inner">
                                <div class="dashboard-menu has-submenu">
                                    <a href="#" class="item">
                                        <i class="icon icon-side-sticky-menu"></i>
                                    </a>
                                    <ul class="submenu">
    <li>
       <div class="ui accordion ">

	       <div class="title accordion-trigger ">
		       <a class="">Getting started</a>
	       </div>
	       <div class="content ">
		       <div class="accordion">
			       <div class="title"><a href="fts_getting_started.html#getting-started" class="item">General Info</a></div>
			       <div class="title"><a href="fts_getting_started.html#installation" class="item">Installation</a></div>
			       <div class="title"><a href="fts_getting_started.html#whats-included" class="item">What's Included</a></div>
			       <div class="title"><a href="fts_getting_started.html#html" class="item">HTML Structure</a></div>
			       <div class="title"><a href="fts_getting_started.html#less" class="item">Compiling LESS</a></div>
			       <div class="title"><a href="fts_getting_started.html#fonts" class="item">Changing Fonts</a></div>
			       <div class="title"><a href="fts_getting_started.html#vector-icons" class="item">Vector Icons</a></div>
			       <div class="title"><a href="fts_getting_started.html#optimization" class="item">Site Optimization</a></div>
		       </div>
	       </div>

            <div class="title accordion-trigger ">
                <a class="">Layout</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_default_grid.html" class="item">Default Grid</a></div>
                   <div class="title "><a href="fts_divided_container.html" class="item">Divided Container</a></div>
                   <div class="title "><a href="fts_magic_grid.html" class="item">Magic Grid</a></div>
               </div>
            </div>


            <div class="title accordion-trigger active">
                <a class="">Components</a>
            </div>
            <div class="content active">
               <div class="accordion">
                    <div class="title "><a href="fts_header.html" class="item">Header</a></div>
                    <div class="content"></div>

                    <div class="title accordion-trigger "><a class="item">Menus</a></div>
                    <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_menu.html" class="item">Menu Default</a></div>
                           <div class="title "><a href="fts_dashboard_menu.html" class="item">Dashboard Menu</a></div>
                       </div>
                    </div>
                    
                   <div class="title "><a href="fts_logo.html" class="item">Logo</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_buttons.html" class="item">Buttons</a></div>
                   <div class="content"></div>
                   
                   <div class="title "><a href="fts_icons.html" class="item">Icons</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_form_elements.html" class="item">Form Elements</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_floating_placeholder.html" class="item">Floating Placeholder</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_sticky_element.html" class="item">Sticky Element</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_property_items.html" class="item">Property Items</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_articles.html" class="item">Articles</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_promo_section.html" class="item">Promo Section</a></div>
                   <div class="content"></div>

                   <div class="title active"><a href="fts_modals.html" class="item">Modals</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_accordion.html" class="item">Accordion</a></div>
                   <div class="content"></div>


                   <div class="title accordion-trigger "><a class="item">Hero Search</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_hero_search_horizontal.html" class="item">Hero Seach Horizontal</a></div>
                           <div class="title "><a href="fts_hero_search_vertical.html" class="item">Hero Seach Vertical</a></div>
                       </div>

                    </div>

                   <div class="title accordion-trigger "><a class="item">Carousel</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_slick_carousel.html" class="item">Slick Carousel</a></div>
                           <div class="title "><a href="fts_slick_hero_big.html" class="item">Slick Hero Big</a></div>
                           <div class="title "><a href="fts_slick_full_page_search.html" class="item">Slick Full Page Search</a></div>
                       </div>

                    </div>

                   <div class="title "><a href="fts_charts.html" class="item">Charts</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_progressbar.html" class="item">Progressbar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_hamburger_icon.html" class="item">Hamburger Icon</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_calendar.html" class="item">Calendar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_price_range_slider.html" class="item">Price Range Slider</a></div>
                   <div class="content"></div>

               </div>

            </div>

            <div class="title accordion-trigger ">
                <a class="">Content</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_typography.html" class="item">Typography</a></div>
                   <div class="title "><a href="fts_code.html" class="item">Code</a></div>
                   <div class="title "><a href="fts_image.html" class="item">Image</a></div>
                   <div class="title "><a href="fts_image_gallery.html" class="item">Image Gallery</a></div>
                   <div class="title "><a href="fts_table.html" class="item">Table</a></div>
               </div>
            </div>
       </div>
    </li>
</ul>                                </div>
                            </div>
                        </div>
                    </div>
                    
               </div>
               
               <div class="ui twelve wide tablet nine wide computer nine wide widescreen nine wide large screen column">
                   <div class="ui grid">
                       <div class="row">
                         
                           <div class="ui twelve wide computer grey column">
                              <div class="ui grid">
                                  <div class="row">
                                   
                                    <div class="ui twelve wide computer column">
                                        <div class="typo-section-sq top-default bottom-default">
                                           
                                            <h2>Modals</h2>
                                            
                                            <hr class="padded-sq">
                                            <h3>Classic Modal</h3>
                                            
                                            <br>
                                            <p>Modal element, in all cases, is actioned by a trigger that contains <strong>.modal-ui-trigger</strong> class and <strong>data-trigger-for</strong> attribute.</p>
                                            
                                            <p>Modal specific class is <strong>.ui.modal</strong> and its structure looks like this:</p>
                                            
                                            <ul>
                                                <li><strong>.header</strong> - for modal title</li>
                                                <li><strong>.content</strong> - for modal content </li>
                                                <li><strong>.footer</strong> - for buttons</li>
                                                <li><strong>.close-modal</strong> - close trigger for this modal</li>
                                            </ul>
                                            
<!-- Modal trigger -->                                            
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal01">Classic Modal</a>

<!-- Modal -->
<div class="ui modal" data-for="uimodal01">
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>                                  
                                         
                                            
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;!-- Modal trigger --&gt;                                            
&lt;a class=&quot;button-sq see-through-sq small-sq modal-ui-trigger&quot; data-trigger-for=&quot;uimodal01&quot;&gt;Classic Modal&lt;/a&gt;

&lt;!-- Modal --&gt;
&lt;div class=&quot;<mark class="markcode">ui</mark> <mark class="markcode">modal</mark>&quot; data-for=&quot;uimodal01&quot;&gt;
   
    &lt;i class=&quot;icon icon-close close-modal&quot;&gt;&lt;/i&gt; 
    
    &lt;div class=&quot;header center&quot;&gt;
        &lt;h4&gt;Modal Title ... &lt;/h4&gt;
        ...
    &lt;/div&gt;

    &lt;div class=&quot;content&quot;&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class=&quot;actions&quot;&gt;
		&lt;div class=&quot;div-c inline-2&quot;&gt;
			&lt;div class=&quot;divided-column&quot;&gt;
				&lt;div class=&quot;button-sq cancel-sq fullwidth-sq&quot;&gt;Cancel&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;divided-column&quot;&gt;
				&lt;div class=&quot;button-sq fullwidth-sq&quot;&gt;OK&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
    
&lt;/div&gt;</code></pre>
                                        
                                           
                                            <br>
                                            <h4>Modal Options</h4>
                                            
                                            <br>
                                            <strong>Width</strong>
                                            <p>You can use <strong>.small</strong>, <strong>.large</strong> or <strong>.fullscreen</strong> classes for small, large or full-screen modals.</p>
                                            
                                            
<!-- Modal trigger -->                                            
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal02">Small Classic Modal</a>

<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal03">Large Classic Modal</a>

<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal04">Fullscreen Classic Modal</a>

<div class="ui modal small" data-for="uimodal02">
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>

<div class="ui modal large" data-for="uimodal03">
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>

<div class="ui modal fullscreen" data-for="uimodal04">
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>

<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;ui modal <mark class="markcode">small</mark>&quot; data-for=&quot;uimodal02&quot;&gt;
    ...
&lt;/div&gt;&lt;div class=&quot;ui modal <mark class="markcode">large</mark>&quot; data-for=&quot;uimodal03&quot;&gt;
    ...
&lt;/div&gt;&lt;div class=&quot;ui modal <mark class="markcode">fullscreen</mark>&quot; data-for=&quot;uimodal04&quot;&gt;
    ...
&lt;/div&gt;</code></pre>
                                            
                                            
                                            <br>
                                            <br>
                                            
                                            <strong>Background</strong>
                                            <br>
                                            
                                            <p>For a modal that has no background you can use <strong>basic</strong> class.</p>
                                            
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal05">Basic Classic Modal</a>
 
                                  
<div class="ui modal basic" data-for="uimodal05">
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>
                                           
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;ui modal <mark class="markcode">basic</mark>&quot; data-for=&quot;uimodal05&quot;&gt;
    ...
&lt;/div&gt;</code></pre>
                                            
                                            <br><br>
                                            
                                            <p>For a  background in modal header, you need to add to the structure a new section <strong>.modal-background</strong>.</p>
                                            
                                            <!-- cod cu sectiune -->
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal06">Classic Modal with Background inside</a>
                                           
<div class="ui modal" data-for="uimodal06">
    <div class="modal-backgound">
        <img src="assets/images/modal/map.png" alt="">
    </div>
   
    <i class="icon icon-close close-modal"></i>
    
    <div class="header center">
        <h4>Modal Title - Lorem ipsum dolor sit amet, consectetur </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. Donec non quam vitae justo mattis vestibulum a nec nisi. Morbi mi felis, ultrices vitae risus consectetur, porta ultrices sapien. 
        <br><br>
        Nunc sit amet velit nibh. Proin consectetur, ante quis tristique mattis, massa massa condimentum enim, quis euismod arcu purus ac eros. Sed dictum elementum odio, id viverra est auctor nec.</p>
    </div>

    <div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
    
</div>
                                           
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;ui modal&quot; data-for=&quot;uimodal06&quot;&gt;
    &lt;div class=&quot;<mark class="markcode">modal-backgound</mark>&quot;&gt;
        &lt;img src=&quot;assets/images/modal/map.png&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                            <hr class="padded-sq">
                                             
                                            <h3>Full-screen Picture Modal</h3>
                                            
                                            <p>Using <strong>.full</strong> class will add a full-screen image background that opens with an animation.</p>
                                            
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal07">Full-screen Picture Modal</a>
                                            
<div class="ui full modal" data-for="uimodal07">
    <div class="modal-full-background">
        <img src="assets/images/modal/modal_background_001.jpg" alt="">
    </div>

    <i class="icon icon-close close-modal"></i>

    <div class="header center">
        Log In
    </div>

    <div class="content">
        <div class="div-c">
            <div class="div-c">
                <input type="text" placeholder="E-mail Adress">
            </div>
            <div class="div-c">
                <input type="text" placeholder="Password">
            </div>
        </div>

        <div class="button-sq fullwidth-sq">Sign Up</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. </p>
    </div>

    <div class="actions">
        <div class="border-container">
            <div class="button-sq link-sq">Don’t have an account?</div>

            <div class="button-sq link-sq login-sq">
                Sign Up
                <i class="icon icon-person-add-1"></i>
            </div>
        </div>
    </div>
</div>


<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;ui modal <mark class="markcode">full</mark>&quot; data-for=&quot;uimodal07&quot;&gt;
    &lt;i class=&quot;icon icon-close close-modal&quot;&gt;&lt;/i&gt; 
    &lt;div class=&quot;modal-full-background&quot;&gt;
        &lt;img src=&quot;assets/images/modal/modal_background_001.jpg&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;header center&quot;&gt; ... &lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt; ... &lt;/div&gt;
    &lt;div class=&quot;actions&quot;&gt; ... &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                          <hr class="padded-sq">
                                          <h3>Welcome Modal</h3>
                                          
                                          <p>Welcome modal is a specia style and looks like in the below example:</p>
                                          
<a class="button-sq see-through-sq small-sq modal-ui-trigger" data-trigger-for="uimodal08">Welcome Modal</a>
<div class="ui full modal welcome" data-for="uimodal08">
    <div class="modal-full-background">
        <img src="assets/images/modal/modal_background_001.jpg" alt="">
    </div>

    <i class="icon icon-close close-modal"></i>

    <div class="welcome-wrapper">
        <h2><span>WECOME</span> to MyBnb</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. </p>

        <a href="" class="exploring-link">
            <i class="icon icon-compass"></i>
            start exploring</a>
    </div>
</div>
                                          
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;ui full modal <mark class="markcode">welcome</mark>&quot; data-for=&quot;uimodal08&quot;&gt;
    &lt;div class=&quot;modal-full-background&quot;&gt;
        &lt;img src=&quot;assets/images/modal/modal_background_001.jpg&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;i class=&quot;icon icon-close close-modal&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;welcome-wrapper&quot;&gt;
        &lt;h2&gt;&lt;span&gt;WECOME&lt;/span&gt; to MyBnb&lt;/h2&gt;
        &lt;p&gt;Lorem ipsum dolor ... &lt;/p&gt;
        &lt;a href=&quot;&quot; class=&quot;exploring-link&quot;&gt;
            &lt;i class=&quot;icon icon-compass&quot;&gt;&lt;/i&gt;
            start exploring&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                           <hr class="padded-sq">
                                     
                                            
                                         </div>
                                    </div>
                                                  

                                                   
                                    
                                  </div>
                              </div>
                           </div>
                    </div>
                   </div>
               </div>
               
               
            </div>
        </div>
        
        
   </div>    
       
   
    
    
    </div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
