<!DOCTYPE html>



<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Dashboard Menu - Features Page</title>

</head>
<body class="no-transition dashboard-sq">
    <div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
    
   <div class="ui layout">
       
        <!-- grid -->
        <div class="ui grid container">
           
            <div class="row">
               
               <div class="ui twelve wide tablet three wide computer three wide widescreen three wide large screen column">
                   
                    <div class="sticky-element sticky-desktop sticky-large-desktop under-ths">
                       
                        <div class="dashboard-sticky">
                            <div class="dashboard-sticky-inner">
                                <div class="dashboard-menu has-submenu">
                                    <a href="#" class="item">
                                        <i class="icon icon-side-sticky-menu"></i>
                                    </a>
                                    <ul class="submenu">
    <li>
       <div class="ui accordion ">

	       <div class="title accordion-trigger ">
		       <a class="">Getting started</a>
	       </div>
	       <div class="content ">
		       <div class="accordion">
			       <div class="title"><a href="fts_getting_started.html#getting-started" class="item">General Info</a></div>
			       <div class="title"><a href="fts_getting_started.html#installation" class="item">Installation</a></div>
			       <div class="title"><a href="fts_getting_started.html#whats-included" class="item">What's Included</a></div>
			       <div class="title"><a href="fts_getting_started.html#html" class="item">HTML Structure</a></div>
			       <div class="title"><a href="fts_getting_started.html#less" class="item">Compiling LESS</a></div>
			       <div class="title"><a href="fts_getting_started.html#fonts" class="item">Changing Fonts</a></div>
			       <div class="title"><a href="fts_getting_started.html#vector-icons" class="item">Vector Icons</a></div>
			       <div class="title"><a href="fts_getting_started.html#optimization" class="item">Site Optimization</a></div>
		       </div>
	       </div>

            <div class="title accordion-trigger ">
                <a class="">Layout</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_default_grid.html" class="item">Default Grid</a></div>
                   <div class="title "><a href="fts_divided_container.html" class="item">Divided Container</a></div>
                   <div class="title "><a href="fts_magic_grid.html" class="item">Magic Grid</a></div>
               </div>
            </div>


            <div class="title accordion-trigger active">
                <a class="">Components</a>
            </div>
            <div class="content active">
               <div class="accordion">
                    <div class="title "><a href="fts_header.html" class="item">Header</a></div>
                    <div class="content"></div>

                    <div class="title accordion-trigger active"><a class="item">Menus</a></div>
                    <div class="content active">
                       <div class="accordion">
                           <div class="title "><a href="fts_menu.html" class="item">Menu Default</a></div>
                           <div class="title active"><a href="fts_dashboard_menu.html" class="item">Dashboard Menu</a></div>
                       </div>
                    </div>
                    
                   <div class="title "><a href="fts_logo.html" class="item">Logo</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_buttons.html" class="item">Buttons</a></div>
                   <div class="content"></div>
                   
                   <div class="title "><a href="fts_icons.html" class="item">Icons</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_form_elements.html" class="item">Form Elements</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_floating_placeholder.html" class="item">Floating Placeholder</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_sticky_element.html" class="item">Sticky Element</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_property_items.html" class="item">Property Items</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_articles.html" class="item">Articles</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_promo_section.html" class="item">Promo Section</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_modals.html" class="item">Modals</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_accordion.html" class="item">Accordion</a></div>
                   <div class="content"></div>


                   <div class="title accordion-trigger "><a class="item">Hero Search</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_hero_search_horizontal.html" class="item">Hero Seach Horizontal</a></div>
                           <div class="title "><a href="fts_hero_search_vertical.html" class="item">Hero Seach Vertical</a></div>
                       </div>

                    </div>

                   <div class="title accordion-trigger "><a class="item">Carousel</a></div>
                   <div class="content ">
                       <div class="accordion">
                           <div class="title "><a href="fts_slick_carousel.html" class="item">Slick Carousel</a></div>
                           <div class="title "><a href="fts_slick_hero_big.html" class="item">Slick Hero Big</a></div>
                           <div class="title "><a href="fts_slick_full_page_search.html" class="item">Slick Full Page Search</a></div>
                       </div>

                    </div>

                   <div class="title "><a href="fts_charts.html" class="item">Charts</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_progressbar.html" class="item">Progressbar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_hamburger_icon.html" class="item">Hamburger Icon</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_calendar.html" class="item">Calendar</a></div>
                   <div class="content"></div>

                   <div class="title "><a href="fts_price_range_slider.html" class="item">Price Range Slider</a></div>
                   <div class="content"></div>

               </div>

            </div>

            <div class="title accordion-trigger ">
                <a class="">Content</a>
            </div>
            <div class="content ">
               <div class="accordion">
                   <div class="title "><a href="fts_typography.html" class="item">Typography</a></div>
                   <div class="title "><a href="fts_code.html" class="item">Code</a></div>
                   <div class="title "><a href="fts_image.html" class="item">Image</a></div>
                   <div class="title "><a href="fts_image_gallery.html" class="item">Image Gallery</a></div>
                   <div class="title "><a href="fts_table.html" class="item">Table</a></div>
               </div>
            </div>
       </div>
    </li>
</ul>                                </div>
                            </div>
                        </div>
                    </div>
                    
               </div>
               
               <div class="ui twelve wide tablet nine wide computer nine wide widescreen nine wide large screen column">
                   <div class="ui grid">
                       <div class="row">
                         
                           <div class="ui twelve wide computer column">
                              <div class="ui grid">
                                  <div class="row">
                                   
                                    <div class="ui twelve wide computer column">
                                        <div class="typo-section-sq top-default bottom-default">
                                            <h2>Dashboard Menu</h2>
                                            <hr class="padded-sq">
                                            
                                            <h3>General Menu Default</h3>
                                            <br>
                                            
                                            <p><strong>Dashboard Menu</strong> is a particular menu type used in the dashboard area of the theme. Compared with the default menu, this is a vertical menu and can have multiple structures.</p>
                                            
                                            <p>Considering UI / UX standards, we built this menu on mobile in a sticky burget icon.</p>
                                            
                                            <hr class="padded-sq">
                                            
                                            <h3>Structure</h3>
                                            
                                            <p>Dashboard Menu doesn't have a fixed structure and that it is why we are going to showcase two examples from our theme:</p>
                                            <br>
                                            
                                            <h4>Menu with lists</h4>
                                            
<div class="dashboard-menu has-submenu" tabindex="0">
    <a href="#" class="item">
        <i class="icon icon-side-sticky-menu"></i>
    </a>
    <ul class="submenu" tabindex="-1">
        <li class="active"><a class="item" href="">Item 01</a></li>
        <li><a class="item" href="">Item 02</a></li>
        <li><a class="item" href="">Item 03</a></li>
    </ul>
</div>

<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">dashboard-menu</mark> has-submenu&quot; tabindex=&quot;0&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;item&quot;&gt;
        &lt;i class=&quot;icon icon-side-sticky-menu&quot;&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;ul class=&quot;submenu&quot; tabindex=&quot;-1&quot;&gt;
        &lt;li class=&quot;active&quot;&gt;&lt;a class=&quot;item&quot; href=&quot;&quot;&gt;Item 01&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class=&quot;item&quot; href=&quot;&quot;&gt;Item 02&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class=&quot;item&quot; href=&quot;&quot;&gt;Item 03&lt;/a&gt;&lt;/li&gt;
        ...
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                                      
                                       <br>
                                       <h4>Menu with <strong><a href="fts_accordion.html">accordion</a></strong></h4>
                                        
<div class="dashboard-menu has-submenu" tabindex="0">
    <a href="#" class="item">
        <i class="icon icon-side-sticky-menu"></i>
    </a>
    <ul class="submenu" tabindex="-1">
       <li>
           <div class="ui accordion">
               <div class="title accordion-trigger">
                    <a class="item">Item 01</a>
               </div>
               <div class="content">
                   <div class="accordion">
                       <div class="title"><a href="" class="item">Submenu 01</a></div>
                       <div class="title"><a href="" class="item">Submenu 02</a></div>
                       <div class="title"><a href="" class="item">Submenu 03</a></div>
                   </div>
               </div>
               
               <div class="title accordion-trigger">
                   <a class="item">Item 02</a>
               </div>
               <div class="content">
                   <div class="accordion">
                       <div class="title"><a href="" class="item">Submenu 01</a></div>
                       <div class="title"><a href="" class="item">Submenu 02</a></div>
                       <div class="title"><a href="" class="item">Submenu 03</a></div>
                   </div>
               </div>
           </div>
       </li>
    </ul>
</div>

<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">dashboard-menu</mark> has-submenu&quot; tabindex=&quot;0&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;item&quot;&gt;
        &lt;i class=&quot;icon icon-side-sticky-menu&quot;&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;ul class=&quot;submenu&quot; tabindex=&quot;-1&quot;&gt;
       &lt;li&gt;
           &lt;div class=&quot;ui accordion&quot;&gt;
               &lt;div class=&quot;title accordion-trigger&quot;&gt;
                    &lt;a class=&quot;item&quot;&gt;Item 01&lt;/a&gt;
               &lt;/div&gt;
               &lt;div class=&quot;content&quot;&gt;
                   &lt;div class=&quot;accordion&quot;&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 01&lt;/a&gt;&lt;/div&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 02&lt;/a&gt;&lt;/div&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 03&lt;/a&gt;&lt;/div&gt;
                   &lt;/div&gt;
               &lt;/div&gt;
               
               &lt;div class=&quot;title accordion-trigger&quot;&gt;
                   &lt;a class=&quot;item&quot;&gt;Item 02&lt;/a&gt;
               &lt;/div&gt;
               &lt;div class=&quot;content&quot;&gt;
                    &lt;div class=&quot;accordion&quot;&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 01&lt;/a&gt;&lt;/div&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 02&lt;/a&gt;&lt;/div&gt;
                       &lt;div class=&quot;title&quot;&gt;&lt;a href=&quot;&quot; class=&quot;item&quot;&gt;Submenu 03&lt;/a&gt;&lt;/div&gt;
                   &lt;/div&gt;    
               &lt;/div&gt;
               
               ...
           &lt;/div&gt;
       &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                                        <hr class="padded-sq">
                                        <h3>Sticky Option</h3>

                                        <p>As you can see also in this page, <strong>dashboard menu</strong> can become sticky on scroll. This functionalit relies on <strong><a href="fts_sticky_element.html">sticky element</a> feature</strong>.</p>
                                        
                                        <p>Structure for the sticky option is the following: </p>
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;sticky-element sticky-desktop sticky-large-desktop under-ths&quot;&gt;
    &lt;div class=&quot;dashboard-sticky&quot;&gt;
        &lt;div class=&quot;dashboard-sticky-inner&quot;&gt;
            &lt;div class=&quot;dashboard-menu has-submenu&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;item&quot;&gt;
                    &lt;i class=&quot;icon icon-side-sticky-menu&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;submenu&quot; tabindex=&quot;-1&quot;&gt;
                   &lt;li&gt;
                       &lt;div class=&quot;ui accordion&quot;&gt;
                           &lt;div class=&quot;title accordion-trigger&quot;&gt;
                                &lt;a class=&quot;item&quot;&gt;Item 01&lt;/a&gt;
                           &lt;/div&gt;
                           &lt;div class=&quot;content&quot;&gt;
                               &lt;div class=&quot;accordion&quot;&gt;
                                   ...
                               &lt;/div&gt;
                           &lt;/div&gt;

                           &lt;div class=&quot;title accordion-trigger&quot;&gt;
                               &lt;a class=&quot;item&quot;&gt;Item 02&lt;/a&gt;
                           &lt;/div&gt;
                           &lt;div class=&quot;content&quot;&gt;
                                &lt;div class=&quot;accordion&quot;&gt;
                                   ..
                               &lt;/div&gt;    
                           &lt;/div&gt;
                            ...
                       &lt;/div&gt;
                   &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                        <hr class="padded-sq">
                                         
                                        <h3>Responsive</h3>   

                                        <p>If used along with the <strong><a href="fts_sticky_element.html">sticky element</a></strong>, on mobile resolution <strong>dashboard menu</strong> will transform in a sticky burger menu. Clicking it will open a dropdown with the entire menu. </p>
                                        
                                        <br>
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="ui twelve wide tablet twelve wide computer seven wide widescreen seven wide large screen column">
                                                   <p><strong>Desktop resolution</strong></p>
                                                   <br>
                                                    <img src="assets/images/gif/dashboard_menu_desktop.gif" alt="">
                                                    <br>
                                                    <br>
                                                </div>
                                                
                                                <div class="ui twelve wide tablet twelve wide computer five wide widescreen five wide large screen column">
                                                   <p><strong>Mobile resolution</strong></p>
                                                   <br>
                                                    <img src="assets/images/gif/dashboard_menu_mobile.gif" alt="">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="padded-sq">
                                        <h3>Other Elements</h3>
                                        
                                        <p>You can also include the following structures along with the menu:</p>
                                        
                                        <ul>
                                            <li><strong>.dashboard-details</strong></li>
                                            <li><strong>.dashboard-contact</strong></li>
                                        </ul>
                                        
                                        <br>
                                        <h4>Details</h4>
                                        
                                        <br>
                                        <div class="dashboard-details">
                                            <span class="dashboard-avatar verified-sq">
                                                <img src="assets/images/avatar/avatar_02.jpg" alt="">
                                            </span>

                                            <div class="dashboard-texts">
                                                <h2 class="dashboard-name">Esther Herrera</h2>
                                                <div class="dashboard-subtitle">CEO</div>
                                            </div>
                                        </div>

<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;<mark class="markcode">dashboard-details</mark>&quot;&gt;
    &lt;span class=&quot;dashboard-avatar verified-sq&quot;&gt;
        &lt;img src=&quot;assets/images/avatar_02.jpg&quot; alt=&quot;&quot;&gt;
    &lt;/span&gt;

    &lt;div class=&quot;dashboard-texts&quot;&gt;
        &lt;h2 class=&quot;dashboard-name&quot;&gt;Esther Herrera&lt;/h2&gt;
        &lt;div class=&quot;dashboard-subtitle&quot;&gt;CEO&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                       
                                        <br>
                                        <br>
                                        <h4>Contact</h4>
                                    
                                        <br>

                                        <a class="dashboard-contact button-sq font-weight-bold-sq modal-ui-trigger" data-trigger-for="modal02" href="">
                                           <i class="icon icon-messenger"></i>
                                           <span>Contact</span>
                                        </a>
                                        
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;a class=&quot;<mark class="markcode">dashboard-contact</mark> button-sq font-weight-bold-sq modal-ui-trigger&quot; data-trigger-for=&quot;modal02&quot; href=&quot;&quot;&gt;
   &lt;i class=&quot;icon icon-messenger&quot;&gt;&lt;/i&gt;
   &lt;span&gt;Contact&lt;/span&gt;
&lt;/a&gt;</code></pre>
                                   <br>
                                   <br>
                                   
                                   <p>By adding these two structures with the menu in a <strong>sticky element</strong>, on mobile we will have the following result: </p>
                                   
                                   
                                   <!--TODO <p>Gif Animat</p>-->
                                   <hr class="padded-sq">
                                   </div>
                                    </div>
                                                   
                                    
                                  </div>
                              </div>
                           </div>
                   </div>
                   </div>
               </div>
               
               
            </div>
        </div>
        
        
   </div>    
       
   
    
    
    </div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>


