<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <title>Header Width</title>

</head>
<body class="no-transition">
<div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









   
    <div class="ui layout">
        <div class="ui grid container Xfluid">
            <div class="row">
                <div class="ui column">
        
                    <div class="typo-section-sq top-default bottom-default">
                        
                        <h3>Header Width</h3>
                        <br>
                        
                        <h4>Header Default</h4>

	                    <p>Default header width is 100% and its content width will be as long as the .container element.</p>
                        <br>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <header class="header-section mhs">
        <div class="header-content">

            <div class="ui container grid">
                <div class="header-item header-left flex-grow-true flex-align-left">
                    <p class="item">.header-item Left</p>
                </div>

                <div class="header-item header-center flex-grow-true">
                    <p class="item">Default example</p>
                </div>

                <div class="header-item header-right flex-grow-true flex-align-right">
                    <p class="item">.header-item Right</p>
                </div>
            </div>
        </div>    
    </header>
    
    <div class="ui layout">
        <div class="ui grid container">
             <div class="row">
                 <div class="ui column">
                     <br>
                    <h4>Header Boxed</h4>
	                 <p>Applying the <strong>.header-boxed</strong> class, header-section as well as its content will be as long as the .container element width.</p>
                    <br>
                 </div>
            </div>    
        </div>
    </div>    
    
    <header class="header-section mhs header-boxed">
        <div class="header-content">

            <div class="ui container grid">
                <div class="header-item header-left flex-grow-true flex-align-left">
                    <p class="item">.header-item Left</p>
                </div>

                <div class="header-item header-center flex-grow-true">
                    <p class="item">Default example</p>
                </div>

                <div class="header-item header-right flex-grow-true flex-align-right">
                    <p class="item">.header-item Right</p>
                </div>
            </div>
        </div>    
    </header>
    
    <div class="ui layout">
        <div class="ui grid container">
             <div class="row">
                 <div class="ui column">
                    <br>
                    <h4>Header Full Width</h4>
	                 <p>Applying <strong>.header-fullwidth</strong> class, header-section as well as the content will have 100% width.</p>
                    <br>
                 </div>
            </div>    
        </div>
    </div>
    
    <header class="header-section mhs header-fullwidth">
        <div class="header-content">

            <div class="ui container grid">
                <div class="header-item header-left flex-grow-true flex-align-left">
                    <p class="item">.header-item Left</p>
                </div>

                <div class="header-item header-center flex-grow-true">
                    <p class="item">Default example</p>
                </div>

                <div class="header-item header-right flex-grow-true flex-align-right">
                    <p class="item">.header-item Right</p>
                </div>
            </div>
        </div>    
    </header>
               
    <div></div>
                
        
</div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
