<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="assets/library/highlight.css">

<link rel="icon" href="assets/images/ico/favicon.ico">

<script src="assets/library/modernizr-custom.js"></script>

    <!-- Site Properities -->
    <title>Center Carousel</title>

</head>
<body class="no-transition">
<div id="page-wrapper"> <!-- for background color & freeze on sidemenu visible -->

        <!--DEFAULT HEADER-->

<header class="header-section ths header-shadow equal-tablet-header-items equal-mobile-header-items header-sticky header-slide-up">
    <div class="header-content">

        <div class="ui container grid">
            <div class="header-item header-left flex-order-tablet-second flex-order-mobile-second flex-grow-tablet-true flex-grow-mobile-true">
                
<a href="" class="logo item">
	<img src="assets/images/logo-mybiz-transparent.png" srcset="assets/images/logo-mybiz-transparent.png 1x, assets/images/logo-mybiz-transparent@2x.png 2x" alt="mybiz logo" class="logo-transparent">
       
    <img src="assets/images/logo-mybiz.png" srcset="assets/images/logo-mybiz.png 1x, assets/images/logo-mybiz@2x.png 2x" alt="mybiz logo">
    
    <span class="item">features</span>
    
</a>




            </div>

            <div class="header-item header-center flex-align-left flex-order-tablet-first flex-order-mobile-first flex-grow-large-desktop-true flex-grow-desktop-true flex-grow-tablet-false flex-grow-mobile-false"></div>
            
           	<div class="header-item header-right flex-order-tablet-third flex-order-mobile-third flex-shrink-true flex-align-right">
            	
             	<!-- Sidemenu Trigger -->
                <a class="sidemenu-trigger close-sq hamburger hamburger-spin item hidden-desktop hidden-large-desktop" data-trigger-for="menu01">
                   
                    <!--<i class="icon icon-navigation-show-more-22"></i>-->
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                </a>
              
                <!-- Include Menu -->
                <!-- Header Menu-->
                
    <div class="item menu-default burger-mobile-sidemenu burger-tablet-sidemenu sidemenu-open-right icons-left profile-priority slide-out-sq dimmed flexMenu dropdown-open-right" data-burger="menu01">
        
        <ul class="main-menu">
            
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mybnb" class="item">
                    <span>myBnb</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myboat/homepage.html" class="item">
                    <span>myBoat</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mycar/homepage.html" class="item">
                    <span>myCar</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/myhotel/homepage.html" class="item">
                    <span>myHotel</span>
                </a>
            </li>
            <li><a href="https://seventhqueen.com/themes/mybiz-html/mytent/homepage.html" class="item">
                    <span>myTent</span>
                </a>
            </li>
            
        </ul>
    </div>

<!-- End of Header Menu-->
                
            </div>
        </div>
        
    </div>    
</header>









    
<div class="typo-section-sq top-default bottom-default">
   <div class="ui grid container">
       <div class="row">
           <div class="ui column">
              
              <h2>Slick Carousel</h2>

              <hr class="padded-sq">
              <h3>Center Carousel</h3>
              <br>

	           <p><strong>Center Carousel</strong> it is a slick carousel and just needs the <strong>.center-sq</strong> class.</p>
              <br>
                  
           </div>
       </div>
   </div>
    
    <!-- Carousel Center Default -->
    <div class="sq-slick carousel-sq center-sq shadow-sq" data-center-mode="true" data-center-padding="100px" data-desktop-center-padding="50px" data-show-slides="3" data-scroll-slides="3" data-tablet-show-slides="2" data-tablet-scroll-slides="2" data-mobile-show-slides="1" data-mobile-scroll-slides="1" data-tablet-center-padding="50px" data-mobile-center-padding="20px">
        
        <!-- Slide 01-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=1" alt="">
          </div>
        </div>
        
        <!-- Slide 02-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=2" alt="">
          </div>
        </div>
        
        <!-- Slide 03-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=3" alt="">
          </div>
        </div>
        
        <!-- Slide 04-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=4" alt="">
          </div>
        </div>
        
        <!-- Slide 05-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=5" alt="">
          </div>
        </div>
        
        <!-- Slide 06-->
        <div>
          <div class="caption-content">
             <img src="http://placehold.it/350x300?text=6" alt="">
          </div>
        </div>


    </div>
   
    <div class="ui grid container">
       <div class="row">
           <div class="ui column">
<pre><button class="clipboad-copy-sq button-sq link-sq">Copy</button>
<code class="html">&lt;div class=&quot;sq-slick carousel-sq <mark class="markcode">center-sq</mark> <mark class="markcode">shadow-sq</mark>&quot; data-center-mode=&quot;true&quot; data-center-padding=&quot;100px&quot; data-desktop-center-padding=&quot;50px&quot; data-show-slides=&quot;3&quot; data-scroll-slides=&quot;3&quot; data-tablet-show-slides=&quot;2&quot; data-tablet-scroll-slides=&quot;2&quot; data-mobile-show-slides=&quot;1&quot; data-mobile-scroll-slides=&quot;1&quot; data-tablet-center-padding=&quot;50px&quot; data-mobile-center-padding=&quot;20px&quot;&gt;
    &lt;!-- Slide 01--&gt;
    &lt;div&gt;
      &lt;div class=&quot;caption-content&quot;&gt;
         &lt;img src=&quot;http://placehold.it/350x300?text=1&quot; alt=&quot;&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;</code></pre>
               
            <hr class="padded-sq">
           </div>
       </div>
   </div>
</div>
        
</div><!--end #page-wrapper-->
<script src="assets/library/jquery-2.2.0.min.js"></script>
<script src="assets/library/flexmenu.js"></script>
<script src="assets/library/nouislider.min.js"></script>

<script src="assets/library/wNumb.js"></script>

<script src="assets/library/jrespond.min.js"></script>
<script src="assets/library/scrollspy.min.js"></script>

<script src="assets/library/visibility.js"></script>

<script src="assets/library/accordion.js"></script>
<script src="assets/library/dropdown-custom.js"></script>
<script src="assets/library/sticky.js"></script>

<script src="assets/library/page-transition.js"></script>
<script src="assets/library/checkbox.js"></script>
<script src="assets/library/transition.js"></script>
<script src="assets/library/sidebar.js"></script>

<script src="assets/library/modal.js"></script>
<script src="assets/library/dimmer.js"></script>

<!-- Datepicker -->
<script src="assets/library/popup.js"></script>
<script src="assets/library/calendar.js"></script>

<!-- Slick -->
<script src="assets/library/slick.js"></script>

<!-- Fancybox -->
<script src="assets/library/jquery.fancybox.js"></script>

<!-- Hightlight -->
<script src="assets/library/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--<script src="https://seventhqueen.com/themes/mybiz-html/assets/assets/library/clipboard.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

<script src="assets/library/header.js"></script>
<script src="assets/library/functions.js"></script>


<script>

	$(document)
		.ready(function() {

			new Clipboard('.clipboad-copy-sq', {
				target: function(trigger) {
					return trigger.nextElementSibling;
				}
			});

		});

</script>
</body>

</html>
